.clients-header{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.clients-header h1{
    font-size: 45px;
    font-weight: 800;
}
.clients-header p{
    font-weight: 600;
}
.carousel-container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
}

.carousel-slide {
  position: relative;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
  position: relative;
}

.carousel-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 10;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.title {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.text {
 
 margin-top: 5px;
  font-size: 18px;
  color: #555;
}
